@import "~@angular/material/prebuilt-themes/purple-green.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.green {
  color: green;
}

.red {
  color: #ef7979;
}

.mat-toolbar {
  justify-content: space-between;
}

.mat-list .mat-list-item .mat-list-item-content .mat-list-text > p {
  font-size: .75rem;
}

.mat-list .mat-list-item .mat-list-item-content .mat-list-text > p > span {
  padding-left: 4px;
}

.mat-list .mat-list-item.mat-list-item-with-avatar {
  height: 80px !important;
}
